.beneficiosContainer{
    min-height: 600px;
    background-color: #F2EFCE;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-items:center;
    text-align:center;
    row-gap: 0;
}
.beneficios{
    display:flex;
    flex-direction: column;
    align-items:center;

}
h1.tituloBene{
    margin-top: 2em;
    margin-left:2em;
    margin-bottom:0;
    grid-column:1/-1;
    justify-self:left;
}
.h2Bene{
   font-size: 2em; 
   font-weight: 700;
   margin-top:3%;
   max-width:90%;
}
.itensBene{
    margin-top:3%;
    max-width:80%;
}
@media(max-width:900px){
    .beneficiosContainer{
        grid-template-columns:repeat(1, 1fr);
        min-height:1000px;
    }
    .beneficios img{
        width:100px;
    }
}