
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
/*css base, vai ser alterado*/

.containerCarrinho{
    margin:40px;
    font-family: 'Inter', sans-serif;
}
.containerCarrinhoVoltar{
  display:flex;
  justify-content: space-between;
  margin-bottom:60px;

}
.content{
  display:flex;
  flex-direction:row;
  gap:30px;
}
.containerCarrinho img{
    height:100px;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}
.content>section{
  width: 60%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead >tr{
    border-bottom: 2px solid #ddd;
  }
  
tr > th {
        text-align: left;
        padding-bottom: 10px;
        text-transform: uppercase;
        color: #666;
  }

  tbody {
    tr {
      border-bottom: 1px solid #eee;

    }
    tr:last-child {
        border: 0;
    }

      td {
        padding: 30px 0;
        
      }
    }


.produto {
  display: flex;
  align-items: center;

  img {
    border-radius: 6px;
  }

  .info {
    margin-left: 20px;
    .name {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .category {
      color: #666;
    }
  }
}
aside{
  width:40%;
}
.qty {
  background: #eee;
  display: flex;
  padding: 0 0;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;

  span {
    margin: 0 10px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    margin:0;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;

    &:hover {
      background-color: #ddd;
    }
  }
  i{
      width:16px;
      text-align:center;
    }
}
.remover {
  background: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  &:hover {
    background-color: #ddd;
  }
}

aside {
  .caixa {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;

    background: #eee;
    color: #222;

    header {
      padding: 15px 20px;
      font-size: 18px;
      border-bottom: 1px solid #ccc;
    }
    .info {
      padding: 20px;
      font-size: 16px;

      >div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #555;

        &:last-child {
          margin: 0;
        }
      }
    }
    footer {
      padding: 15px 20px;
      background: #ddd;
      border-radius:0 0 15px 15px;
      font-size: 18px;
      display: flex;
      justify-content: space-between;
    }
  }
}
button{
  margin-left:0;
}