 /* css para o slick slider */
.Catalogo{
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 120px auto;
    
}
 /* elemento principal/ div principal que tem todos os slides */
.slick-track {
  display: flex;
}

/* item individual */ 
.slick-slide {
  padding: 0 12px;
  display: flex;
  justify-content: center;
}

.slick-slide > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

 /* classe das bolinhas */
.slick-dots {
  position: absolute;
  left: 50%;
 margin-bottom: -20px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

 /* container principal onde se faz os calculos */
.slick-list {
  max-width: 1400px;
  margin: 0 auto;
}

/* configuração das setas */
.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  color: #8E564F;
  font-size: 30px;
}


.slick-prev {
    margin-left:60px;
}
.slick-next {
  right: 40px;
}
.linkCard{
  text-decoration:none;
  color:black;
  display:block;
}
.linkCard:visited{
  color:black;
}
.linkCard:hover{
  color:black;
}
@media(max-width:1000px){
    .slick-slide > div {
  padding: 0 10px;
}}
@media(max-width:700px){
    .slick-slide > div {
  padding: 0 10px;
}}