button{
    border:none;
}
.buttonChamada{
background-color: #532728;
color:white;
padding-top:18px;
padding-bottom:18px;
width:100%;
border-radius: 5px;
outline:none;
font-size:1.3em;
}
.enviarForm{
    height:60px;
    width:240px;
    border-radius:15px;
    background-color: #532728;
    color:#FFFF;
    font-size:1.5em;
    display: block;
}