#containerSobre{
    margin: 12% 10% 12% 10%;
    display:flex;
}
.imagensSobre{
    margin-right:3%;
}
.imagensSobre:nth-of-type(2){
    margin-top:3%;
    height: 85%;
}
div.imagensSobre{
    margin-top:2%;
    display:flex;
    justify-content:flex-end;

}

h3, h1, p{
    font-family: 'Inter', sans-serif;
}
h3{
    margin-top:5%;
    font-weight:600;
    margin-bottom:3%;
    font-size:1.2em;
}
h1{
    font-size:2em;
    font-weight:700;
    margin-bottom:3%;
}
p{
    font-size:1.5em;
}