#containerSobre{
    margin: 12% 10% 12% 10%;
    display:flex;
}
.imagensSobre{
    margin-right:3%;
}
.imagensSobre:nth-of-type(2){
    margin-top:3%;
    height: 85%;
}
div.imagensSobre{
    margin-top:2%;
    display:flex;
    justify-content:flex-end;

}
.h3h1Sobre{
    margin-bottom:3%;
}